<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>interfaceUrl</key>
	<string>192.168.1.169</string>
	<key>httpsPort</key>
	<string>8442</string>
	<key>httpPort</key>
	<string>8080</string>
	<key>channelNumber</key>
	<string>4ecd64e647b44c108281249e573a7f46</string>
	<key>QQShareID</key>
	<string>1106804318</string>
	<key>WBShareKey</key>
	<string>3296801754</string>
	<key>WXShareID</key>
	<string>wxbeafe42095e03edf</string>
	<key>AMapApiKey</key>
	<string>35299f78bdd53e322f83c8a1f935abe8</string>
	<key>BaiduMapID</key>
	<string>OocnLDF5qnvdDAQsc7VVFrGnO9CRYlCG</string>
	<key>HTTPChannel</key>
	<dict>
		<key>ClientCertificate</key>
		<string>project://ReactNativeBundle/ca.cer</string>
		<key>isUseHttps</key>
		<false/>
		<key>serverCertificate</key>
		<string></string>
	</dict>
	<key>IndustrialBankHTTPChannel</key>
	<dict>
		<key>IndustrialBankClientCertificate</key>
		<string>project://ReactNativeBundle/rsa_public_key.pem</string>
		<key>isUseIndustrialBankEncrypt</key>
		<true/>
	</dict>
	<key>isAutoReload</key>
	<false/>
	<key>isCheckIntegrity</key>
	<false/>
	<key>isProduction</key>
	<false/>
	<key>isResetLog</key>
	<true/>
	<key>isShowProjectSettingPage</key>
	<false/>
	<key>isUseGzip</key>
	<false/>
	<key>resetSatrtPageKey</key>
	<string>satrtPage</string>
	<key>resetStartComponentKey</key>
	<string>startComponent</string>
	<key>startPage</key>
	<string>index.ios.jsbundle</string>
	<key>startComponent</key>
	<string>RNProject</string>
	<key>developerStartPage</key>
	<string>index.ios.js</string>
	<key>developerStartComponent</key>
	<string>RNProject</string>
</dict>
</plist>
