<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cib.library">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!--<uses-sdk tools:overrideLibrary="com.com.com.facebook.react,com.com.com.facebook.imagepipeline.backends.okhttp3,-->
    <!--android.support.v7.appcompat,android.support.v4"/>-->

</manifest>