<?xml version='1.0' encoding='utf-8'?>
<widget id="com.agree.cordovaOrWeex" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <feature name="LocalStorage">
        <param name="ios-package" value="CDVLocalStorage" />
    </feature>
    <feature name="HandleOpenUrl">
        <param name="ios-package" value="CDVHandleOpenURL" />
        <param name="onload" value="true" />
    </feature>
    <feature name="IntentAndNavigationFilter">
        <param name="ios-package" value="CDVIntentAndNavigationFilter" />
        <param name="onload" value="true" />
    </feature>
    <feature name="GestureHandler">
        <param name="ios-package" value="CDVGestureHandler" />
        <param name="onload" value="true" />
    </feature>
    <name>CordovaOrWeex</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />  
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
    <preference name="AllowInlineMediaPlayback" value="false" />
    <preference name="BackupWebStorage" value="cloud" />
    <preference name="DisallowOverscroll" value="false" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="SuppressesLongPressGesture" value="false" />
    <preference name="Suppresses3DTouchGesture" value="false" />
    <preference name="GapBetweenPages" value="0" />
    <preference name="PageLength" value="0" />
    <preference name="PaginationBreakingMode" value="page" />
    <preference name="PaginationMode" value="unpaginated" />
    <preference name="launch_url" value="" />
    <preference name="local_url" value="index.js" />
    
    <feature name="MicroApplicationPlugin">
      <param name="ios-package" value="MicroApplicationPlugin" />
    </feature>
    
    <feature name="MailList">
      <param name="ios-package" value="MailList" />
    </feature>
    <feature name="Contact">
      <param name="ios-package" value="Contact" />
    </feature>
    
    <feature name="DevicePlugin">
      <param name="ios-package" value="DevicePlugin" />
    </feature>
    
    <feature name="HGBWebViewPlugin">
      <param name="ios-package" value="HGBWebViewPlugin" />
    </feature>
    
    <feature name="Media">
      <param name="ios-package" value="Media" />
    </feature>
    <feature name="MediaModule">
      <param name="ios-package" value="MediaModule" />
    </feature>
    <feature name="MediaPlay">
      <param name="ios-package" value="MediaPlay" />
    </feature>
    <feature name="PhotosManage">
      <param name="ios-package" value="PhotosManage" />
    </feature>
    <feature name="ScanPlugin">
      <param name="ios-package" value="ScanPlugin" />
    </feature>
    <feature name="RecordAudio">
      <param name="ios-package" value="RecordAudio" />
    </feature>
    
    <feature name="NetWorkPlugin">
      <param name="ios-package" value="NetWorkPlugin" />
    </feature>
    
    <feature name="FileManager">
      <param name="ios-package" value="FileManager" />
    </feature>
    
    <feature name="DataBasePlugin">
      <param name="ios-package" value="DataBasePlugin" />
    </feature>
    
    <feature name="LocationPlugin">
      <param name="ios-package" value="LocationPlugin" />
    </feature>
    
    <feature name="KeyboardPlugin">
      <param name="ios-package" value="CustomKeyboard" />
    </feature>
    <feature name="PwdLockPlugin">
      <param name="ios-package" value="PwdLockPlugin" />
    </feature>

    <feature name="RunLogPlugin">
      <param name="ios-package" value="RunLogPlugin" />
    </feature>
    
    <feature name="SharePlugin">
      <param name="ios-package" value="SharePlugin" />
    </feature>
    
    <feature name="Calendar">
      <param name="ios-package" value="Calendar" />
    </feature>
    
    <feature name="Webview">
      <param name="ios-package" value="Webview" />
    </feature>
    
    <feature name="XZHPlugin">
      <param name="ios-package" value="XZHPlugin" />
    </feature>
</widget>
