<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>keyValue</key>
		<string>interfaceUrl</string>
		<key>isEdited</key>
		<true/>
		<key>maxLength</key>
		<integer>50</integer>
		<key>prompt</key>
		<string>示例 : 192.168.1.1</string>
		<key>rules</key>
		<string>^(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9])\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[0-9])$</string>
		<key>value</key>
		<string></string>
		<key>placeholder</key>
		<string>示例 : 192.168.1.1</string>
		<key>tag</key>
		<real>1101</real>
		<key>inputType</key>
		<string>input</string>
		<key>textLable</key>
		<string>interfaceUrl</string>
	</dict>
	<dict>
		<key>keyValue</key>
		<string>httpPort</string>
		<key>isEdited</key>
		<true/>
		<key>maxLength</key>
		<integer>6</integer>
		<key>prompt</key>
		<string></string>
		<key>rules</key>
		<string>[0-9]{8}</string>
		<key>value</key>
		<string></string>
		<key>placeholder</key>
		<string>示例 : 8080</string>
		<key>tag</key>
		<real>1102</real>
		<key>inputType</key>
		<string>input</string>
		<key>textLable</key>
		<string>httpPort</string>
	</dict>
	<dict>
		<key>keyValue</key>
		<string>HTTPChannel/isUseHttps</string>
		<key>isEdited</key>
		<true/>
		<key>maxLength</key>
		<integer>1</integer>
		<key>prompt</key>
		<string></string>
		<key>rules</key>
		<string></string>
		<key>value</key>
		<true/>
		<key>placeholder</key>
		<string>示例 : 443</string>
		<key>tag</key>
		<real>1103</real>
		<key>inputType</key>
		<string>switch</string>
		<key>textLable</key>
		<string>HTTPChannel</string>
	</dict>
	<dict>
		<key>keyValue</key>
		<string>httpsPort</string>
		<key>isEdited</key>
		<true/>
		<key>maxLength</key>
		<integer>6</integer>
		<key>prompt</key>
		<string></string>
		<key>rules</key>
		<string>[0-9]{8}</string>
		<key>value</key>
		<string></string>
		<key>placeholder</key>
		<string>示例 : 443</string>
		<key>tag</key>
		<real>1104</real>
		<key>inputType</key>
		<string>input</string>
		<key>textLable</key>
		<string>httpsPort</string>
	</dict>
	<dict>
		<key>keyValue</key>
		<string>channelNumber</string>
		<key>isEdited</key>
		<false/>
		<key>maxLength</key>
		<integer>32</integer>
		<key>prompt</key>
		<string>为32位且只能为数字与字母的组合</string>
		<key>rules</key>
		<string>^(?![0-9]+$)(?![a-zA-Z]+$)[a-zA-Z0-9]{32}</string>
		<key>value</key>
		<string></string>
		<key>placeholder</key>
		<string>为32位且只能为数字与字母的组合</string>
		<key>tag</key>
		<real>1105</real>
		<key>inputType</key>
		<string>input</string>
		<key>textLable</key>
		<string>channelNumber</string>
	</dict>
	<dict>
		<key>keyValue</key>
		<string>IndustrialBankHTTPChannel/isUseIndustrialBankEncrypt</string>
		<key>isEdited</key>
		<false/>
		<key>maxLength</key>
		<integer>32</integer>
		<key>prompt</key>
		<string></string>
		<key>rules</key>
		<string>^(?![0-9]+$)(?![a-zA-Z]+$)[a-zA-Z0-9]{32}</string>
		<key>value</key>
		<false/>
		<key>placeholder</key>
		<string></string>
		<key>tag</key>
		<real>1106</real>
		<key>inputType</key>
		<string>switch</string>
		<key>textLable</key>
		<string>IndustrialBankHTTPChannel</string>
	</dict>
	<dict>
		<key>keyValue</key>
		<string>isCheckIntegrity</string>
		<key>isEdited</key>
		<false/>
		<key>maxLength</key>
		<integer>32</integer>
		<key>prompt</key>
		<string>完整性校验</string>
		<key>rules</key>
		<string></string>
		<key>value</key>
		<false/>
		<key>placeholder</key>
		<string></string>
		<key>tag</key>
		<real>1107</real>
		<key>inputType</key>
		<string>switch</string>
		<key>textLable</key>
		<string>isCheckIntegrity</string>
	</dict>
	<dict>
		<key>keyValue</key>
		<string>WXShareID</string>
		<key>isEdited</key>
		<false/>
		<key>maxLength</key>
		<integer>18</integer>
		<key>prompt</key>
		<string>示例 : wxbeafe42095e03edf</string>
		<key>rules</key>
		<string>^(?![0-9]+$)(?![a-zA-Z]+$)[a-zA-Z0-9]{18}</string>
		<key>value</key>
		<string></string>
		<key>placeholder</key>
		<string>请输入微信应用ID</string>
		<key>tag</key>
		<real>1108</real>
		<key>inputType</key>
		<string>input</string>
		<key>textLable</key>
		<string>WXShareID</string>
	</dict>
	<dict>
		<key>keyValue</key>
		<string>WBShareKey</string>
		<key>isEdited</key>
		<false/>
		<key>maxLength</key>
		<integer>10</integer>
		<key>prompt</key>
		<string>示例 : 3296801754</string>
		<key>rules</key>
		<string>[0-9]{10}</string>
		<key>value</key>
		<string></string>
		<key>placeholder</key>
		<string>请输入微博应用ID</string>
		<key>tag</key>
		<real>1109</real>
		<key>inputType</key>
		<string>input</string>
		<key>textLable</key>
		<string>WBShareKey</string>
	</dict>
	<dict>
		<key>keyValue</key>
		<string>QQShareID</string>
		<key>isEdited</key>
		<false/>
		<key>maxLength</key>
		<integer>10</integer>
		<key>prompt</key>
		<string>示例 : 1106804318</string>
		<key>rules</key>
		<string>[0-9]{10}</string>
		<key>value</key>
		<string></string>
		<key>placeholder</key>
		<string>请输入QQ应用ID</string>
		<key>tag</key>
		<real>1110</real>
		<key>inputType</key>
		<string>input</string>
		<key>textLable</key>
		<string>QQShareID</string>
	</dict>
</array>
</plist>
